.video_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  background-color: white;
  max-width: calc(24.5625rem + 10vw);
  align-items: center;
}
.video_thumb {
  width: 100vw;
  height: 56vw;
  max-height: calc(0.56 * (24.5625rem + 10vw));
  max-width: calc(24.5625rem + 10vw);
  object-position: 50% 50%;
  object-fit: cover;
}
.video_infos_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  gap: 12px;
  padding-inline: 0.75rem;
  letter-spacing: 0.02em;
  margin-top: 0.5rem;
  width: 100%;
}
.video_infos {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.user_avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  object-fit: cover;
}
.videoTitle {
  font-size: 1rem;
  line-height: 1.1719rem;
  letter-spacing: 0.02em;
}
.user_view_date {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: var(--font-dark-grey);
}
.user_view_date p {
  font-size: 0.75rem;
  line-height: 0.8788rem;
  letter-spacing: 0.06em;
  text-align: left;
}

.menu_icon {
  margin-left: auto;
}
.hover_itens:hover {
  cursor: pointer;
}
