/* Footer styles */
.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100vw - 2rem);
  gap: 0.875rem;
}
.feedback_section {
  display: flex;
  justify-content: space-between;
}
.rate_icons {
  display: flex;
  gap: 0.6875rem;
  align-items: center;
}
.rate_icons_p {
  font-size: 0.875rem;
}
.like_button,
.dislike_button {
  width: 1.1669rem;
  height: 1.105rem;
}

.comment_icon {
  display: flex;
  gap: 0.8125rem;
  align-items: center;
}
.comment_icon img {
  width: 0.9375rem;
  height: 1.1563rem;
}
.comment_icon p {
  font-size: 0.875rem;
}

.comments_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comments_wrapper {
  display: flex;
  gap: 0.4375rem;
}
.comments_wrapper h5,
.comments_wrapper p {
  font-weight: 400;
  font-size: 0.875rem;
}
.input_wrapper {
  display: flex;
  gap: 0.5rem;
}
.user_icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.input_wrapper textarea {
  color: var(--font-dark-grey);
  width: 100%;
  height: 1.875rem;
  border-radius: 0.5rem;
  border: 0px solid;
  background-color: var(--font-color-grey);
  padding-left: 0.6875rem;
  display: flex;
  justify-content: center;
  line-height: 1.875rem;
}
.input_wrapper textarea::placeholder {
  display: block;
  position: relative;
}
