.Header {
  padding: 24px;
  background-color: #ffffff;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_imgs {
  height: 24px;
}
.icone_explore {
  height: 24px;
}
.top_rigth {
  display: flex;
  gap: 15px;
}

.bottom {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;
}
.bottom::-webkit-scrollbar {
  display: none;
}

.icone_explore {
  margin-right: 24px;
}

.mark {
  background-color: #0f0f0f;
  color: #ffffff;
}
