.Footer {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
}

.container_icone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_icone,
.footer_imgs {
  height: 24px;
}
